.body {
  background-color: #fcf4fa;
}

.upvote {
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
.downvote {
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;

}

.karmaDisplay {
  margin-top: 15%;
  text-align: center;
}

.green {
  color: green;
}
.black {
  color: black;
}

.red {
  color: red
}

.menu {
  float: left;
  list-style: none;
  padding: 15px;
  color: white;
}

.searchBar {
  border-radius: 5px;
  position: relative;
  top: -5px;
}

.allComments {
  margin-bottom: 15%;
}

.dropmenu {
  list-style: none;
  color: white;
  background-color: #5591C8;
  padding: 30px;
  height: 30px;
}
.menuItem {
  float: left;
  list-style: none;
  padding: 15px;
  color: white;
  cursor: pointer;
}
.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu{
  background-color: #5591C8;
}
.dropdownmenuList {
background-color: #5591C8;
}

.comment{
  float: left;
  width: 30%;
}
.commentbuttonformat {
  width: 100%;
}


.commentElement {
  float: left;
}

.topBar {
  background-color: #5591C8;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}
#Addcomment {
  margin-left: 2%;
  padding-left: 2%;
  border-left: 1px solid black;
}

.commentBox {
  clear: both;
  padding-top: 2%;
}

.timeDisplay {
  font-size: .75em;

}

.commentDisplay {
  font-size: 1.25em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.middleBar {
}

.pic {
  height: 30%;
  width: 25%;
  margin-right: 3%;
  margin-bottom: 2%;
  margin-left: 1.5%;
}
.votingKarma {
  margin-top: 2%;
  font-size: 1.8em;
  float: left;
}

.individualPost{
  clear: both;
  margin-top: 3%;;
}

.postTitle {
  padding-bottom: 0;
  margin-bottom: 0;
}

.postTime {
  font-size: .8em;
}

.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;

  opacity: 0;
}

.ng-leave-active {
  opacity: 1;
}
