.body {
  background-color: #fcf4fa;
}

.upvote {
  font-weight: bold;
  cursor: pointer;
}
.downvote {
  font-weight: bold;
  cursor: pointer;

}

.green {
  color: green;
}
.black {
  color: black;
}

.menu {
  float: left;
  list-style: none;
  padding: 15px;
  color: white;
}

.dropmenu {
  list-style: none;
  color: white;
  background-color: #5591C8;
  padding: 30px;
  height: 30px;
}

.dropDownMenu{
}

.topBar {
  background-color: #5591C8;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.middleBar {
}

.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;

  opacity: 0;
}

.ng-leave-active {
  opacity: 1;
}
