<!DOCTYPE html>
<html ng-app="moshe">

<head>
  <meta charset="utf-8">
  <title>Document</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body ng-controller="mainController">
  <div class="container">
    <div class="topBar">
      <ul>
        <li class="menu" id="revealAddForm" ng-click="addToggle()" style="cursor: pointer;">Add a Post</li>
        <li class="menu">
          <input type="text" ng-model="search.title" class="searchBar"></input>
        </li>
        <li class="nav-item dropdown menu">
  <span class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sort</span>
  <div class="dropdown-menu">
    <ul class=dropdownmenuList>
    <li class="dropdown-item menuItem" ng-click="sortdate()">Date</li>
    <li class="dropdown-item menuItem" ng-click="sortkarma()">Karma</li>
    <li class="dropdown-item menuItem" ng-click="sorttitle()">Title</li>
  </ul>

  </div>
</li>

    </div>
    <time am-time-ago="main.time"></time>
    <div class="middleBar" style="clear: both;">
      <div class="postList" ng-show="postShow">
        <form name="forms" ng-submit="addPost(forms.$valid)" class="form-group" nonvalidate>
          <span style="color: red" ng-show="forms.title.$error.maxlength">Title too long</span>
          <br>
          <input name="title" class="form-control" ng-minlength="3" ng-maxlength="30" placeholder="enter post title" ng-model="title" type="text" required>
          <br>
          <p style="color: red" ng-show="forms.subreddit.$error.maxlength">Subreddits cannot exceed 20 characters</p>
          <input class="form-control" name="subreddit" ng-maxlength="20" type="text" placeholder="subreddit" ng-model="subreddit" required>
          <br>
          <span style="color: red" ng-show="forms.imageurl.$error.minlength">Enter a valid url</span>
          <br>
          <input class="form-control" name="imageurl" type="URL" placeholder="image url" ng-minlength="7" ng-model="imageURL" required>
          <br>
          <span ng-show="forms.description.$error.minlength" style="color: red">Must have description</span>
          <br>
          <textarea name="description" class="form-control" ng-minlength="2" placeholder="enter a description" ng-model="description" required></textarea>
          <br>
          <br>
          <input type="submit" id="submitNewPost" class="btn btn-default">
        </form>
      </div>
      <div ng-repeat="post in posts | filter:search | orderBy: filtercriteria">

        <div class="individualPost" id={{post.number}}>
          <div class="votingKarma">
            <div class="upvote
            glyphicon glyphicon-arrow-up" ng-class="post.color" ng-click="upvote(post)"></div>
            <p ng-class="color" class="karmaDisplay">{{post.karma| number:0}}</p>
            <div class="downvote
            glyphicon glyphicon-arrow-down" ng-class="post.colored" ng-click="downvote(post)"></div>
          </div>
          <img class="pic" style="float:left;" src={{post.imageurl}} alt="">
          <h4 class="postTitle">{{post.title}}</h4>
          <time class="postTime" am-time-ago={{post.date}}></time>
          <div>
          </div>
          <p class="postParagraph">{{post.description}}</p>
          <div class="comment">
            <div class="commentbuttonformat">
            <h6 class="commentElement" id="showComments" ng-class={{post.number}} ng-click="toggleComment(post)"
           ng-model="commentButton" style="cursor: pointer;">{{commentButton}}</h6>
            <h6 class="commentElement" id="Addcomment" ng-class={{post.number}} ng-click="toggleCommentShow(post)" ng-model="commentShow" style="cursor: pointer;">{{commentShow}}</h6>
            </div>
            <form style="clear:both;" ng-submit="commentPost(post)" ng-show='post.commentShow'>
              <textarea id="indcomment" ng-model="post.individualComment"></textarea>
              <br>
              <br>
              <input class="btn btn-info btn-sm" id="commentSubmit" type="submit" value="submit">

            </form>
            <div class="allComments">
            <div class="commentBox" ng-show="post.commentButton" ng-repeat="comment in post.comments | orderBy: '-date'">
              <p class="commentDisplay" id="commentsDisplay">{{comment.commented}}</p>
              <time class="timeDisplay" am-time-ago={{comment.date}}></time>
            </div>
            </div>


          </div>
        </div>
        <br>
      </div>

    </div>
  </div>
  <script src="http://code.angularjs.org/1.2.0rc1/angular.js"></script>
  <script src="http://code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/script.js" charset="utf-8"></script>
  <script src="js/controllers.js" charset="utf-8"></script>
  <script src="js/directives.js" charset="utf-8"></script>
  <script src="js/filters.js" charset="utf-8"></script>
  <script src="js/services.js" charset="utf-8"></script>
</body>

</html>
